:root {
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir.woff2") format("woff2"),
    url("../fonts/vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: Vazir, Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

::placeholder {
  color: #888;
}

body {
  font-family: Vazir, Arial, Helvetica, sans-serif;
  direction: rtl;
}

.container {
  width: 95%;
  margin: auto;
}

.row {
  display: flex;
}

#register {
  background: url("../images/background.svg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 25px;
}

.register-page .register {
  width: 64%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.register-page .register h1 {
  font-size: 40px;
  color: #333;
  font-weight: bold;
  margin: 20px 0;
}

.register-page .register ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.register-page .register ul li {
  margin: 0 20px;
}

.register-page ul li a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.register-page .register ul li a svg {
  width: 50px;
  height: 50px;
  padding: 10px;
  fill: #444;
  transition: all 0.2s ease-in-out;
}

.register-page .register ul li a:hover {
  background-color: #16a085;
  border: 1px solid #16a085;
}

.register-page .register ul li a:hover svg {
  fill: #fff;
}

.register-page .register form {
  width: 50%;
  text-align: center;
}

.register-page .register form .form-item {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.register-page .register form .form-item input {
  font-size: 18px;
  width: 95%;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #333;
  transition: all 0.2s ease-in;
}

.register-page .register form .form-item input:-webkit-autofill,
.register-page .register form .form-item input:-webkit-autofill:hover,
.register-page .register form .form-item input:-webkit-autofill:focus,
.register-page .register form .form-item input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.register-page .register form .form-item input:focus {
  border-bottom: 1px solid #16a085;
}

.register-page .register form .form-item input:focus + svg {
  fill: #16a085;
}

.register-page .register form svg {
  width: 20px;
  height: 20px;
  fill: #888;
  transition: all 0.2s ease-in;
}

.register-page .register form > input[type="submit"] {
  margin-top: 20px;
  padding: 5px 10px;
  width: 80%;
  background-color: #16a085;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 24px;
  cursor: pointer;
}

.register-page .auth-login {
  width: 35%;
  height: 100%;
  background: url("../images/auth-back.svg");
  background-size: cover;
  height: 100%;
  padding: 100px 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.register-page .auth-login .login-content {
  text-align: center;
}

.register-page .auth-login .login-content h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.register-page .auth-login .login-content p {
  font-size: 18px;
}

.register-page .auth-login .login-content button {
  margin-top: 20px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  padding: 3px 7px;
  border-radius: 50px;
  width: 70%;
  cursor: pointer;
}

.register-page .auth-login .login-content button:hover {
  background-color: #fff;
  color: #16a085;
}
