:root {
  --accent-color: #16a085;
  --light-accent-color: #1fe0ba;
  --secondary-color: #121212;
  --light-secondary-color: #808080;
  --border-color: #cccccc;
  --light-white: #fafafa;
  --dark-white: #e6e6e6;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir.woff2") format("woff2"),
    url("../fonts/vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: Vazir, Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

::placeholder {
  color: var(--light-secondary-color);
}

body {
  font-family: Vazir, Arial, Helvetica, sans-serif;
  direction: rtl;
  background-color: var(--dark-white);
  background-color: #ecf4f2;
  width: 100%;
  height: 100vh;
}

.container {
  width: 95%;
  margin: auto;
}

.row {
  display: flex;
}

#register {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-page {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-white);
  border-radius: 20px;
  box-shadow: 0 0 5px 1px rgba(120, 120, 120, 0.2);
}

.register-page .register {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.register-page .register h1 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: bold;
  margin: 20px 0;
}

.register-page .register ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.register-page .register ul li {
  margin: 0 20px;
}

.register-page ul li a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgba(204, 204, 204, 0.3);
  transition: all 0.2s ease-in-out;
}

.register-page .register ul li a svg {
  width: 50px;
  height: 50px;
  padding: 10px;
  fill: var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.register-page .register ul li a:hover {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 0px 4px 2px rgba(22, 160, 133, 0.3);
}

.register-page .register ul li a:hover svg {
  fill: var(--light-white);
}

.register-page .register form {
  width: 50%;
  text-align: center;
}

.register-page .register form .form-item {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.register-page .register form .form-item input {
  font-size: 18px;
  width: 95%;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--border-color);
  color: var(--secondary-color);
  transition: all 0.2s ease-in;
  background-color: var(--light-white);
}

.register-page .register form .form-item input:-webkit-autofill,
.register-page .register form .form-item input:-webkit-autofill:hover,
.register-page .register form .form-item input:-webkit-autofill:focus,
.register-page .register form .form-item input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--light-white) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--light-white) inset !important;
}

.register-page .register form .form-item input:focus {
  border-bottom: 1px solid var(--accent-color);
}

.register-page .register form .form-item input:focus + svg {
  fill: var(--accent-color);
}

.register-page .register form svg {
  width: 20px;
  height: 20px;
  fill: var(--light-secondary-color);
  transition: all 0.2s ease-in;
  margin-top: 5px;
  margin-left: 12px;
}

.register-page .register form > input[type="submit"] {
  margin-top: 18px;
  padding: 5px 10px;
  width: 80%;
  color: var(--light-white);
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 24px;
  cursor: pointer;
  background: var(--accent-color);
  background: linear-gradient(
    20deg,
    var(--accent-color) 0%,
    var(--light-accent-color) 100%
  );
  cursor: pointer;
  box-shadow: 2px 4px 8px 3px rgba(22, 160, 133, 0.3),
    -2px -2px 4px 2px rgba(22, 160, 133, 0.2);
  transition: all 0.1s ease-in-out;
}

.register-page .register form > input[type="submit"]:hover {
  box-shadow: 2px 4px 8px 4px rgba(22, 160, 133, 0.4),
    -2px -2px 4px 2px rgba(22, 160, 133, 0.2);
}

.register-page .auth-login {
  width: 35%;
  height: 100%;
  background: url("../images/background.svg");
  background-size: cover;
  padding: 100px 0;
  color: var(--light-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 3px 0 6px 0px rgba(22, 160, 133, 0.25);
}

.register-page .auth-login .login-content {
  text-align: center;
}

.register-page .auth-login .login-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.register-page .auth-login .login-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.register-page .auth-login .login-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--light-white);
  cursor: pointer;
  text-decoration: none;
  padding: 5px 30px;
  margin: 0 10px;
  border-radius: 12px;
  box-shadow: 1px 3px 6px 1px rgba(72, 72, 72, 0.3),
    -1px -2px 4px 0 rgba(72, 72, 72, 0.2),
    inset 1px 3px 9px 1px rgba(72, 72, 72, 0.1),
    inset -1px -2px 6px 1px rgba(72, 72, 72, 0.1);
  transition: all 0.2s ease-in-out;
}

.register-page .auth-login .login-content a:hover {
  box-shadow: 1px 4px 8px 1px rgba(72, 72, 72, 0.4),
    -1px -2px 4px 0 rgba(72, 72, 72, 0.2),
    inset 1px 3px 9px 1px rgba(72, 72, 72, 0.1),
    inset -1px -2px 6px 1px rgba(72, 72, 72, 0.1);
}

.register-page .auth-login .login-content a svg {
  width: 20px;
  height: 20px;
  fill: var(--light-white);
  margin-right: 10px;
  transform: scaleX(-1);
}
